/* import inter font */
@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

html {
  /* variables */
  --default-margin: 10px;
}

/* other styles */
body {
  background-color: rgb(41, 41, 41);
  color: pink;
  margin: 0px;
}

h1 {
  background-color: pink;
  color: rgb(255, 255, 255);
  padding: 10px;
  /* margin: 0px 10px 10px 10px; */
  margin: var(--default-margin,0px);
  /* margin: 0px; */
}

@media (max-width: 480px) {
  h1 {
    font-size: 1em;
  }
}

p {
  margin: var(--default-margin,0px);
}

h1 + p {
  margin-top: 15px;
}

h2 {
  margin: var(--default-margin, 0px);
}

a {
  color: white;
}

hr {
  margin: var(--default-margin,0px);
}

#header {
  display: block;
  width: 100%;
  /* border: 1px solid #ccc; */
  margin: 0px;
  padding: 10px;
}

.header-nav-item {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 0px 6px 0px 0px;
  /* font-weight: bold; */
}

.header-nav-item > a {
  color: pink;
  text-decoration: none;
}

table {
  margin: 10px;
}

table, td, th {
  border: 1px solid #ccc;
  padding: 5px;
}

code {
  border: 1px solid rgb(141, 141, 141); 
  padding: 3px;
  color: red;
  font-weight: bold;
  display: inline-block;
}

.spinning {
  animation: spinning 500ms ease infinite;
  font-size: 2em;
  width: 1em;
  display: inline-block;
  /* margin: 0.5em; */
}

.spinning-adjacent {
  width: 8em;
  margin: 0px 1em 0px 1em;
}

.spinning-container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* height: 200px; */
  /* border: 3px solid green;  */
  padding: 5px 5px 0px 5px;
}

@keyframes spinning {
  0% {  transform: rotate(0deg); }
  50% {  transform: rotate(180deg); }
  100% {  transform: rotate(360deg); }
}
